#root { overflow-x: hidden; }
.App {
  background-color: #333839;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App * {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.App *.esteban {
  font-family: 'Esteban',Georgia,"Times New Roman",serif;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border-color: rgba(255,255,255,.1);
}

.block {
  display: block;
}

.link {
  font-size: 14px;
  color: #fff;
  transition: color .3s ease-in-out;
  text-decoration: none;
  margin-top: 8px;
  margin-bottom: 8px;
}
.link:hover {
  color: #27ceac;
  cursor: pointer;
}
.link.active {
  color: rgba(255,255,255,.5)
}