.Modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.Modal .content {
  background-color: #1e2122;
  color: #fff;
  border-radius: 6px;
  padding: 32px;
}