.WithLabel { display: flex; }
.WithLabel.top { flex-direction: column; }
.WithLabel.left { flex-direction: row; align-items: center; }
.WithLabel.right { 
  flex-direction: row-reverse; 
  align-items: center; 
  justify-content: flex-end;
}
.WithLabel.bottom { flex-direction: column-reverse; }
.WithLabel label { font-size: 14px; }
.WithLabel input {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}
.TuningInput {
  display: flex;
  justify-content: space-evenly;
  max-width: 140px;
}
.TuningInput .Tuning {
  display: inline;
  padding: 4px 2px 4px 3px;
  text-align: center;
  border: 1px solid #ccc;
  border-left: none;
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
  margin: 0;
  text-align: center;
  text-align-last:center;
}
.TuningInput .Tuning:first-child { border-left: 1px solid #ccc; }

.NumberInput {
  display: inline-block;
  margin: 0;
}
.NumberInput > * {
  margin: 0;
}
.NumberInput button {
  background: none;
  border: 1px solid #bbb;
  padding: 4px;
  color: #bbb;
  width: 30px;
}
.NumberInput button:hover { cursor: pointer; }
.NumberInput input {
  width: 48px;
  text-align: center;
  border: 1px solid #bbb;
  border-left: none;
  border-right: none;
  padding: 4px;
}
.NumberInput input::-webkit-inner-spin-button {
  display: none;
}
.NumberInput *:focus {
  outline: none;
}